{{ form_start(form) }}
<div class="row">
    <div class=" col-md-6">
        {{ form_label(form.nom, 'Nom du categorie') }}

        {{ form_widget(form.nom) }}
    </div>
    <div class=" col-md-6">
        {{ form_label(form.nom, 'Descriptions') }}

        {{ form_widget(form.descriptions) }}
    </div>
</div>


<button class="btn btn-success btn-lg ">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
