{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block contenu %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Descriptions</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for category in categories %}
                                    <tr>
                                        <td>{{ category.id }}</td>
                                        <td>{{ category.nom }}</td>
                                        <td>{{ category.descriptions }}</td>
                                        <td>
                                            <a href="{{ path('category_show', {'id': category.id}) }}">show</a>
                                            <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('category_new') }}">Create new</a>
{% endblock %}
