{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">
{% endblock %}

{% block contenu %}
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title ">Liste des Invités</h4>
            <p class="card-category"> Detail de tout nos clients</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table"

                       id="table"
                       data-toggle="table"

                       data-pagination="true"
                       data-search="true">
                    <thead>
                    <tr>
                        <th data-field="id">Id</th>
                        <th data-field="CheckInAt">CheckInAt</th>
                        <th>CheckOutAt</th>
                        <th>Comment</th>
                        <th data-field="price">Price</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.id }}</td>
                            <td>{{ booking.checkInAt ? booking.checkInAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ booking.checkOutAt ? booking.checkOutAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ booking.comment }}</td>
                            <td>{{ booking.appartement.nbrDeChambre }}</td>
                            <td>
                                <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a>
                                <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    {# <a href="{{ path('booking_new') }}">Create new</a> #}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
{% endblock %}