{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block contenu %}

<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">Liste des Invités</h4>
        <p class="card-category"> Detail de tout nos clients</p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table"
                   id="table"
                   data-toggle="table"

                   data-pagination="true"
                   data-search="true"
            >
                <thead class=" text-primary">
            <tr>
                <th data-field="id">#</th>
                <th data-field="Nom">Nom</th>
                <th data-field="Prenom">Prenom</th>
                <th>Email</th>
                <th data-field="Telephone">Telephone</th>
                <th>Pays</th>
                <th>Numero d'identité</th>
                <th>Carte d'identité</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.pays }}</td>
                <td>{{ client.cardId }}</td>
                <td>{{ client.idType ? client.idType|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
</div>
{#    <a href="{{ path('client_new') }}">Create new</a>#}
{% endblock %}
