{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block contenu %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ client.telephone }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ client.pays }}</td>
            </tr>
            <tr>
                <th>CardId</th>
                <td>{{ client.cardId }}</td>
            </tr>
            <tr>
                <th>IdType</th>
                <td>{{ client.idType ? client.idType|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
