{% extends 'base.html.twig' %}

{% block title %}Facturation index{% endblock %}

{% block contenu %}
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title ">Mes Factures</h4>
            <p class="card-category"> Detail de tout mes factures</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-striped table-bordered"

                       id="table"
                       data-toggle="table"

                       data-pagination="true"
                       data-search="true">
                    <thead class="bg-info">
                    <tr>
                        <th>Id</th>
                        <th>Nom Invité</th>
                        <th>Date du paiement</th>
                        <th>Mode de réglement</th>
                        <th>TVA</th>
                        <th>Delivré</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for facturation in facturations %}
                        <tr>
                            <td>{{ facturation.id }}</td>
                            <td>{{ facturation.booking.clients[0].nom }}</td>
                            <td> {% if facturation.paymentAt <= date() %}
                                    <h4><span class="badge badge-pill badge-success"> {{ facturation.paymentAt ? facturation.paymentAt|date('Y-m-d') : '' }} </span> &nbsp;<span class="badge badge-pill badge-success">Completé</span></h4>


                               {% else %}

                                   <h4><span class="badge badge-pill badge-info"> {{ facturation.paymentAt ? facturation.paymentAt|date('Y-m-d') : '' }}</span>&nbsp;<span class="badge badge-pill badge-info">En attente</span></h4>

                                {% endif %}

                            </td>
                            <td>{{ facturation.modeReglement }}</td>
                            <td>{{ facturation.taxe }} %</td>
                            <td>{{ facturation.createdAd ? facturation.createdAd|date('d-m-Y') : '' }}</td>
                            <td>
                                <a  href="{{ path('facturations_detail', {'id': facturation.id}) }}"><button class="btn btn-info btn-sm"> <i class="material-icons"> visibility</i></button></a>
                                <a href="{{ path('facturations_edit', {'id': facturation.id}) }}"><button class="btn btn-warning btn-sm"> <i class="material-icons"> edit</i></button></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {# <a href="{{ path('facturations_new') }}">Create new</a> #}
{% endblock %}
