{{ form_start(form) }}

<div class="row">
    <div class=" col-md-6">
        <div class="form-group">
        {{ form_label(form.nom, 'Nom de l\'appartement',{'label_attr': {'class': 'bmd-label-floating'}}) }}
        {{ form_widget(form.nom) }}
    </div>
    </div>
    <div class=" col-md-6">
        <div class="form-group">
        {{ form_label(form.nbrDeChambre, 'Nombre de Chambre',{'label_attr': {'class': 'bmd-label-floating'}}) }}
        {{ form_widget(form.nbrDeChambre) }}
    </div>
    </div>
</div>
<div class="row">
    <div class=" col-md-5">
        <div class="form-group">

        {{ form_label(form.status, 'Disponible') }}
        </div>
    </div>
    <div class=" col-md-1">
        <div class="form-group">

        {{ form_widget(form.status) }}
        </div>
    </div>

    <div class=" col-md-6">
        <div class="form-group">
        {{ form_label(form.adresse, 'Adresse',{'label_attr': {'class': 'bmd-label-floating'}}) }}
        {{ form_widget(form.adresse) }}
        </div>

    </div>
</div>
<div class="row">
    <div class=" col-md-6">
        <div class="form-group">

        {{ form_label(form.commune, 'Commune',{'label_attr': {'class': 'bmd-label-floating'}}) }}

        {{ form_widget(form.commune) }}
        </div>
    </div>
    <div class=" col-md-6">
        <div class="form-group">

        {{ form_label(form.category, 'Choisir la categorie',{'label_attr': {'class': 'bmd-label-floating'}}) }}

        {{ form_widget(form.category) }}
    </div>
    </div>
</div>
<div class="row">

    <div class=" col-md-12">
        <div class="form-group">

            {{ form_label(form.accessoires, 'accessoires',{'label_attr': {'class': 'bmd-label-floating'}}) }}

            {{ form_widget(form.accessoires) }}
        </div>
    </div>
</div>
<div class="row">

    <div class=" col-md-12 form-file-upload form-file-multiple">
{#        <div class="btn-info">#}
{#            {{ form_label(form.image, 'Upload image',{'label_attr': {'class': 'bmd-label-floating','type': 'btn'}}) }}#}

{#            <div class="input-group">#}
            {{ form_row(form.image) }}
{#        </div>#}
        </div>
    </div>


    <button class="btn btn-success btn-lg btn-block">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
