{{ form_start(form) }}

<div class="row">
    <div class=" col-md-6">
        <div class="form-group">
        {{ form_label(form.nom, 'Nom de l\'appartement',{'label_attr': {'class': 'bmd-label-floating'}}) }}
        {{ form_widget(form.nom) }}
    </div>
    </div>
    <div class=" col-md-6">
        <div class="form-group">
        {{ form_label(form.nbrDeChambre, 'Nombre de Chambre',{'label_attr': {'class': 'bmd-label-floating'}}) }}
        {{ form_widget(form.nbrDeChambre) }}
    </div>
    </div>
</div>
<div class="row">
    <div class=" col-md-5">
        <div class="form-group">

        {{ form_label(form.status, 'Status') }}
        </div>
    </div>
    <div class=" col-md-1">
        <div class="form-group">

        {{ form_widget(form.status) }}
        </div>
    </div>

    <div class=" col-md-6">
        <div class="form-group">
        {{ form_label(form.adresse, 'Adresse',{'label_attr': {'class': 'bmd-label-floating'}}) }}
        {{ form_widget(form.adresse) }}
        </div>

    </div>
</div>
<div class="row">
    <div class=" col-md-6">
        <div class="form-group">

        {{ form_label(form.commune, 'Commune',{'label_attr': {'class': 'bmd-label-floating'}}) }}

        {{ form_widget(form.commune) }}
        </div>
    </div>
    <div class=" col-md-6">
        <div class="form-group">

        {{ form_label(form.category, 'Choisir la categorie',{'label_attr': {'class': 'bmd-label-floating'}}) }}

        {{ form_widget(form.category) }}
    </div>
    </div>
</div>

    <button class="btn btn-success btn-lg btn-block">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
