{% extends 'base.html.twig' %}

{% block title %}Edit Appartement{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block contenu %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <div class="col-sm-6">
                    <h4 class="m-0 text-dark">Appartement Management</h4>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('mes_appartement') }}">Liste Habitation</a></li>
                        <li class="breadcrumb-item active">Modification</li>
                    </ol>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Modifier votre appartement</h4>
                        <p class="card-category"> Veuillez modifier votre fichier</p>
                    </div>
                    <div class="card-body">
                        {{ include('appartement/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('appartement_index') }}">back to list</a>

    {{ include('appartement/_delete_form.html.twig') }}


{% endblock %}
