{% extends 'base.html.twig' %}

{% block title %}List de mes appartements{% endblock %}

{% block contenu %}

    <div class="container-fluid">
        <a href="{{ path('appartement_new') }}" type="btn"
           class="btn btn-success">{{ button_label|default('ajouter') }}</a>
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Appartement</h4>
                <p class="card-category"> Liste de tous mes appartements</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
        {% for appartement in appartements %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <a type="button" href="{{ path('appartement_show', {'id': appartement.id}) }}">

                        <img class="card-img-top" src="https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80"
                             rel="nofollow" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">   {{ appartement.nom |upper }} </h5>
                        <div class="d-flex flex-row bd-highlight mb-3">
                            <ul class="list-inline" style="list-style: none;">
                                {% for accessoire in appartement.accessoires %}

                                    <li class="list-inline-item">{{ accessoire.nom|join(",") }}</li>

                                {% endfor %}
                            </ul>
                        </div>
                        <p class="card-text">Nombre de chambre:{{ appartement.nbrDeChambre }}</p>
                        <p class="card-text"> commune:{{ appartement.commune }}</p>
                        <p class="card-text">
                            Categorie:{{ appartement.Category }}</p>
                    </div>

                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </div>
    </div>








{% endblock %}
